$input-border-radius: 4px;
$input-border-color: $grey;
$input-border-size: 1px;
$input-border-style: solid;

$input-append-height: 56px;
$input-append-width: 56px;

$input-text: 20px;
$input-append-text: 22px;
