$phone-width: 500px;

$text-size-xs: 16px;
$text-size-xs-mobile: 14px;

$text-size-s: 18px;
$text-size-s-mobile: 16px;

$text-size-m: 24px;
$text-size-m-mobile: 18px;

$text-size-l: 32px;
$text-size-l-mobile: 24px;

$text-size-xl: 40px;
$text-size-xl-mobile: 26px;

