$primary: #1B31A8;
$accent: #0079FF;

$grey: #E1E8ED;
$grey-light-05: lighten($grey, 5);
$grey-dark-08: darken($grey, 8);
$grey-dark-10:darken($grey, 10);

$white: #FFFFFF;

$text-color-01: #1C1E1F;
$text-color-02: #657786;
$text-color-light: $white;

$text-color-grey_01: #4C4C4C;
$text-color-grey_02: #464646;

$background-grey: #F4F8FA;
$background: $white;

$header-height: 8vh;
$body-padding:  152px;
$body-padding-mobile:  16px;
